.url-container {
  .button-urls {
    width: 500px;
    margin: 0 auto;
  }
  .url-filter {
    justify-content: center;
    align-self: flex-end;
    // border-bottom: 1px solid #222222;
    padding-bottom: 7px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: LatoR;
  }
  .showOff {
    filter: grayscale(70%) !important;
  }
}
.url-list {
  margin-top: 15px;
  margin-right: 95px;
  .url-headline {
    display: grid;
    grid-template-columns: 1.5fr 1.3fr 0.4fr;
    height: 170px;
    position: relative;
    text-align: start;
    height: rem(30px);
    border-bottom: 1px solid #495861cc;
    padding-bottom: 35px;
    margin-bottom: 10px;
    > * {
      padding-left: 15px;
    }
    .toggle-list {
      font-size: 14px;
      display: flex;
      .arrow {
        max-width: 20px;
        max-height: 20px;
      }
    }
  }
  .url-preview {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1.3fr 0.4fr;
    position: relative;
    align-items: center;
    text-align: start;
    padding-bottom: 16px;
    :last-child {
      padding-left: 15px;
    }
    .trash {
      width: 30px !important;
      border: none !important;
    }
    .url-link {
      width: fit-content;
      &:hover {
        color: rgba(179, 46, 46, 0.822);
        transition: 0.7s;
      }
    }
  }
}
