@font-face {
    font-family: latoR;
    src: url(~@/assets/font/lato/Lato-Regular.ttf);
}
@font-face {
    font-family: latoB;
    src: url(~@/assets/font/lato/Lato-Bold.ttf);
}
@font-face {
    font-family: latoL;
    src: url(~@/assets/font/lato/Lato-Light.ttf);
}
@font-face {
    font-family: montserratR;
    src: url(~@/assets/font/monserrate/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserratB;
    src: url(~@/assets/font/monserrate/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserratSB;
    src: url(~@/assets/font/monserrate/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: montserratM;
    src: url(~@/assets/font/monserrate/Montserrat-Medium.ttf);
}
