// Colors
$bgc-blue: #325779;
$mid-blue: #244564;
$light-blue: #3498db;
$light-grey: #9595a6;
$black-blue: #212529;
$light-brown:#79756C;
$mid-brown:#655E4C;
$dark-brown:#3D3E38;
$w: #fff;

//budget-colors:
$positive-budget: #6d9f38;
$negetive-budget: #ca481d;

//lables:
$label-primary: #383e41;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;