button{
  width:fit-content;
  height: fit-content;
  padding:10px;
}

.classic-btn {
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgb(230, 168, 168);
  color: #222222;
  border: 1px solid #222222;
  font-family: montserratR;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    font-weight: bold;
    border: 1px solid rgb(236, 233, 233);
  }
}

.url-btn {
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 3px;
  background-color: rgba(38, 105, 117, 0.808);
  color: $w;
  border: 1px solid rgba(22, 61, 68, 0.808);
  font-family: LatoR;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    border: 1px solid rgba(122, 177, 187, 0.808);
  }
}

.warning-btn {
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(224, 24, 24, 0.836);
  color: #000000;
  border: 1px solid #222222;
  font-family: montserratR;
  font-weight: 600;
  cursor: pointer;
}

.light-btn {
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 8px;
  background-color: rgba(85, 184, 184, 0.884);
  color: #fff;
  border: 1px solid #fff;
  font-family: montserratR;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: rgba(84, 170, 170, 0.829);
  }
}

.new-btn {
  padding: 10px 10px 10px 10px;
  width: max-content;
  border-radius: 8px;
  background-color: $mid-blue;
  color: #fff;
  border: 1px solid #fff;
  font-family: montserratR;
  cursor: pointer;
  transition: 0.5s;
}

.cancel-btn{
  padding: 5px;
  width: max-content;
  margin-left: 10px;
  border-radius: 8px;
  background-color: #ff4036d2;
  color: rgb(8, 8, 8);
  border: 1px solid rgb(17, 14, 14);
  font-family: latoR;
  cursor: pointer;
  transition: 0.5s;
}

.special-btn {
  padding: 10px 15px 10px 15px;
  margin: 10px;
  border-radius: 8px;
  font-family: montserratR;
  cursor: pointer;
  
    animation: pulse 5s infinite;
    @keyframes pulse {
      0% {
        background-color: #001f3f;
        color: #fff;
      }
      50% {
        background-color: #942268;
        color: #ccc;
      }
      100% {
        background-color: #ff4136;
        color: #222222;
      }
    }
  
}
