.main-container {
    display: grid;
    min-height: 50vh;
    grid-template-columns: 20px 1fr 20px;
    padding-top: 80px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(20px, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns: 
            minmax(20px, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(20px, 1fr);
    }
}

.fullscreen-layout{
    display: grid;
    min-height: 64vh;
    grid-template-columns: 5px 1fr 5px;
    padding-top: 80px;
    padding-bottom: 9px;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-gap: 20px;
}